html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.back-show {
  margin-bottom: 10px;
}

.fashion-wrapper {
  margin-bottom: 20px;
}

.delete-designer, .delete-participant, .save-cancel-show, .delete-form, .save-cancel-edit {
  margin-bottom: 20px;
  margin-top: 15px;
}

.save-cancel {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

